Runtime/Marvin.TestTools.SystemTest/Service References/DatabaseMaintenance/DatabaseMaintenance.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataModel" nillable="true" type="tns:DataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataModel" nillable="true" type="tns:ArrayOfDataModel" />
  <xs:complexType name="DataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Backups" nillable="true" type="tns:ArrayOfBackupModel" />
      <xs:element minOccurs="0" name="Config" nillable="true" type="tns:DatabaseConfigModel" />
      <xs:element minOccurs="0" name="Scripts" nillable="true" type="tns:ArrayOfScriptModel" />
      <xs:element minOccurs="0" name="Setups" nillable="true" type="tns:ArrayOfSetupModel" />
      <xs:element minOccurs="0" name="TargetModel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataModel" nillable="true" type="tns:DataModel" />
  <xs:complexType name="ArrayOfBackupModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BackupModel" nillable="true" type="tns:BackupModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBackupModel" nillable="true" type="tns:ArrayOfBackupModel" />
  <xs:complexType name="BackupModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsForTargetModel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BackupModel" nillable="true" type="tns:BackupModel" />
  <xs:complexType name="DatabaseConfigModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Database" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Schema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatabaseConfigModel" nillable="true" type="tns:DatabaseConfigModel" />
  <xs:complexType name="ArrayOfScriptModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScriptModel" nillable="true" type="tns:ScriptModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScriptModel" nillable="true" type="tns:ArrayOfScriptModel" />
  <xs:complexType name="ScriptModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsCreationScript" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScriptModel" nillable="true" type="tns:ScriptModel" />
  <xs:complexType name="ArrayOfSetupModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SetupModel" nillable="true" type="tns:SetupModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSetupModel" nillable="true" type="tns:ArrayOfSetupModel" />
  <xs:complexType name="SetupModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SetupData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetupModel" nillable="true" type="tns:SetupModel" />
</xs:schema>