Resources/Marvin.Resources.UI.Interaction/Service References/ResourceInteraction/ResourceInteraction1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Metadata/ResourceInteraction?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Marvin.Resources.Interaction" />
  <xs:import schemaLocation="http://localhost/Metadata/ResourceInteraction?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Marvin.Serialization" />
  <xs:element name="GetTypeTree">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypeTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Marvin.Resources.Interaction" minOccurs="0" name="GetTypeTreeResult" nillable="true" type="q1:ArrayOfResourceTypeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceTree">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Marvin.Resources.Interaction" minOccurs="0" name="GetResourceTreeResult" nillable="true" type="q2:ArrayOfResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Marvin.Resources.Interaction" minOccurs="0" name="GetDetailsResult" nillable="true" type="q3:ResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Marvin.Serialization" minOccurs="0" name="method" nillable="true" type="q4:MethodEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Marvin.Serialization" minOccurs="0" name="InvokeMethodResult" nillable="true" type="q5:Entry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resourceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentResourceId" type="xs:long" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Marvin.Serialization" minOccurs="0" name="constructor" nillable="true" type="q6:MethodEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Marvin.Resources.Interaction" minOccurs="0" name="CreateResult" nillable="true" type="q7:ResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Marvin.Resources.Interaction" minOccurs="0" name="resource" nillable="true" type="q8:ResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Marvin.Resources.Interaction" minOccurs="0" name="SaveResult" nillable="true" type="q9:ResourceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>