Resources/Marvin.Resources.UI.Interaction/Service References/ResourceInteraction/ResourceInteraction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ResourceInteraction" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Metadata/ResourceInteraction?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Metadata/ResourceInteraction?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Metadata/ResourceInteraction?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Marvin.Resources.Management" />
      <xsd:import schemaLocation="http://localhost/Metadata/ResourceInteraction?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Marvin.Serialization" />
      <xsd:import schemaLocation="http://localhost/Metadata/ResourceInteraction?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Metadata/ResourceInteraction?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Marvin.AbstractionLayer.Resources" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IResourceInteraction_GetTypeTree_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeTree" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_GetTypeTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_GetResourceTree_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceTree" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_GetResourceTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_GetDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_GetDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_InvokeMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:InvokeMethod" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_InvokeMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvokeMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_Reset_InputMessage">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_Reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IResourceInteraction_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:portType name="IResourceInteraction">
    <wsdl:operation name="GetTypeTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceInteraction/GetTypeTree" message="tns:IResourceInteraction_GetTypeTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceInteraction/GetTypeTreeResponse" message="tns:IResourceInteraction_GetTypeTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceInteraction/GetResourceTree" message="tns:IResourceInteraction_GetResourceTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceInteraction/GetResourceTreeResponse" message="tns:IResourceInteraction_GetResourceTree_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceInteraction/GetDetails" message="tns:IResourceInteraction_GetDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceInteraction/GetDetailsResponse" message="tns:IResourceInteraction_GetDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvokeMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceInteraction/InvokeMethod" message="tns:IResourceInteraction_InvokeMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceInteraction/InvokeMethodResponse" message="tns:IResourceInteraction_InvokeMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceInteraction/Create" message="tns:IResourceInteraction_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceInteraction/CreateResponse" message="tns:IResourceInteraction_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceInteraction/Save" message="tns:IResourceInteraction_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceInteraction/SaveResponse" message="tns:IResourceInteraction_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceInteraction/Start" message="tns:IResourceInteraction_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceInteraction/StartResponse" message="tns:IResourceInteraction_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceInteraction/Reset" message="tns:IResourceInteraction_Reset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceInteraction/ResetResponse" message="tns:IResourceInteraction_Reset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceInteraction/Stop" message="tns:IResourceInteraction_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceInteraction/StopResponse" message="tns:IResourceInteraction_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceInteraction/Remove" message="tns:IResourceInteraction_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceInteraction/RemoveResponse" message="tns:IResourceInteraction_Remove_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IResourceInteraction" type="tns:IResourceInteraction">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTypeTree">
      <soap:operation soapAction="http://tempuri.org/IResourceInteraction/GetTypeTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceTree">
      <soap:operation soapAction="http://tempuri.org/IResourceInteraction/GetResourceTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <soap:operation soapAction="http://tempuri.org/IResourceInteraction/GetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeMethod">
      <soap:operation soapAction="http://tempuri.org/IResourceInteraction/InvokeMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IResourceInteraction/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IResourceInteraction/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap:operation soapAction="http://tempuri.org/IResourceInteraction/Start" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap:operation soapAction="http://tempuri.org/IResourceInteraction/Reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap:operation soapAction="http://tempuri.org/IResourceInteraction/Stop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IResourceInteraction/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResourceInteraction">
    <wsdl:port name="BasicHttpBinding_IResourceInteraction" binding="tns:BasicHttpBinding_IResourceInteraction">
      <soap:address location="http://localhost/ResourceInteraction" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>