Runtime/Tests/Marvin.Tools.Wcf.Tests/Service References/DatabaseMaintenance/DatabaseMaintenance1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Maintenance.Plugins.DatabaseMaintenance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Maintenance.Plugins.DatabaseMaintenance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DumpResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DumpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DumpResult" nillable="true" type="tns:DumpResult" />
</xs:schema>