Runtime/SystemTests/Marvin.Tools.Wcf.SystemTests/Service References/SimpleHelloWorld/SimpleHelloWorldWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleHelloWorldWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Metadata/SimpleHelloWorldWcfService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Metadata/SimpleHelloWorldWcfService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISimpleHelloWorldWcfService_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="ISimpleHelloWorldWcfService_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="ISimpleHelloWorldWcfService_Throw_InputMessage">
    <wsdl:part name="parameters" element="tns:Throw" />
  </wsdl:message>
  <wsdl:message name="ISimpleHelloWorldWcfService_Throw_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThrowResponse" />
  </wsdl:message>
  <wsdl:portType name="ISimpleHelloWorldWcfService">
    <wsdl:operation name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleHelloWorldWcfService/Hello" message="tns:ISimpleHelloWorldWcfService_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleHelloWorldWcfService/HelloResponse" message="tns:ISimpleHelloWorldWcfService_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Throw">
      <wsdl:input wsaw:Action="http://tempuri.org/ISimpleHelloWorldWcfService/Throw" message="tns:ISimpleHelloWorldWcfService_Throw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISimpleHelloWorldWcfService/ThrowResponse" message="tns:ISimpleHelloWorldWcfService_Throw_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISimpleHelloWorldWcfService" type="tns:ISimpleHelloWorldWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Hello">
      <soap:operation soapAction="http://tempuri.org/ISimpleHelloWorldWcfService/Hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Throw">
      <soap:operation soapAction="http://tempuri.org/ISimpleHelloWorldWcfService/Throw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleHelloWorldWcfService">
    <wsdl:port name="BasicHttpBinding_ISimpleHelloWorldWcfService" binding="tns:BasicHttpBinding_ISimpleHelloWorldWcfService">
      <soap:address location="http://localhost/SimpleHelloWorldWcfService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>