src/Tests/Moryx.Tools.Wcf.Tests/Service References/Logging/LogMaintenance2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.LogMaintenance.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.LogMaintenance.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Metadata/LogMaintenance?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Moryx.Logging" />
  <xs:complexType name="ArrayOfPluginLoggerModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PluginLoggerModel" nillable="true" type="tns:PluginLoggerModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPluginLoggerModel" nillable="true" type="tns:ArrayOfPluginLoggerModel" />
  <xs:complexType name="PluginLoggerModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Moryx.Logging" minOccurs="0" name="ActiveLevel" type="q1:LogLevel" />
      <xs:element minOccurs="0" name="ChildLogger" nillable="true" type="tns:ArrayOfPluginLoggerModel" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:PluginLoggerModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PluginLoggerModel" nillable="true" type="tns:PluginLoggerModel" />
  <xs:complexType name="LogMessages">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppenderId" type="xs:int" />
      <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfLogMessageModel" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogMessages" nillable="true" type="tns:LogMessages" />
  <xs:complexType name="ArrayOfLogMessageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogMessageModel" nillable="true" type="tns:LogMessageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogMessageModel" nillable="true" type="tns:ArrayOfLogMessageModel" />
  <xs:complexType name="LogMessageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Moryx.Logging" minOccurs="0" name="LogLevel" type="q2:LogLevel" />
      <xs:element minOccurs="0" name="Logger" nillable="true" type="tns:PluginLoggerModel" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogMessageModel" nillable="true" type="tns:LogMessageModel" />
</xs:schema>