src/Tests/Marvin.Tools.Wcf.Tests/Service References/Maintenance/ModuleMaintenance3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Maintenance.Plugins.ModuleMaintenance.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Maintenance.Plugins.ModuleMaintenance.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Metadata/ModuleMaintenance?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Modules" />
  <xs:import schemaLocation="http://localhost/Metadata/ModuleMaintenance?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Marvin.Serialization" />
  <xs:complexType name="ArrayOfServerModuleModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerModuleModel" nillable="true" type="tns:ServerModuleModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerModuleModel" nillable="true" type="tns:ArrayOfServerModuleModel" />
  <xs:complexType name="ServerModuleModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assembly" nillable="true" type="tns:AssemblyModel" />
      <xs:element minOccurs="0" name="Dependencies" nillable="true" type="tns:ArrayOfServerModuleModel" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Modules" minOccurs="0" name="FailureBehaviour" type="q1:FailureBehaviour" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Modules" minOccurs="0" name="HealthState" type="q2:ServerModuleState" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notifications" nillable="true" type="tns:ArrayOfNotificationModel" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Modules" minOccurs="0" name="StartBehaviour" type="q3:ModuleStartBehaviour" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerModuleModel" nillable="true" type="tns:ServerModuleModel" />
  <xs:complexType name="AssemblyModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bundle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssemblyModel" nillable="true" type="tns:AssemblyModel" />
  <xs:complexType name="ArrayOfNotificationModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NotificationModel" nillable="true" type="tns:NotificationModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNotificationModel" nillable="true" type="tns:ArrayOfNotificationModel" />
  <xs:complexType name="NotificationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exception" nillable="true" type="tns:SerializableException" />
      <xs:element minOccurs="0" name="Important" type="xs:boolean" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationModel" nillable="true" type="tns:NotificationModel" />
  <xs:complexType name="SerializableException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="tns:SerializableException" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerializableException" nillable="true" type="tns:SerializableException" />
  <xs:complexType name="DependencyEvaluation">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxDependencies" type="xs:int" />
      <xs:element minOccurs="0" name="MaxDependends" type="xs:int" />
      <xs:element minOccurs="0" name="MaxDepth" type="xs:int" />
      <xs:element minOccurs="0" name="RootModules" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DependencyEvaluation" nillable="true" type="tns:DependencyEvaluation" />
  <xs:complexType name="Config">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Marvin.Serialization" minOccurs="0" name="Entries" nillable="true" type="q4:ArrayOfEntry" />
      <xs:element minOccurs="0" name="Module" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Config" nillable="true" type="tns:Config" />
  <xs:simpleType name="ConfigUpdateMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OnlySave" />
      <xs:enumeration value="SaveAndReincarnate" />
      <xs:enumeration value="UpdateLiveAndSave" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConfigUpdateMode" nillable="true" type="tns:ConfigUpdateMode" />
</xs:schema>