src/Tests/Moryx.Tools.Wcf.Tests/Service References/DatabaseMaintenance/DatabaseMaintenance2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Metadata/DatabaseMaintenance?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" />
  <xs:import schemaLocation="http://localhost/Metadata/DatabaseMaintenance?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance" />
  <xs:element name="GetDataModels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" minOccurs="0" name="GetDataModelsResult" nillable="true" type="q1:ArrayOfDataModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAllConfigs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" minOccurs="0" name="config" nillable="true" type="q2:DatabaseConfigModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAllConfigsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDatabaseConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetModel" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" minOccurs="0" name="config" nillable="true" type="q3:DatabaseConfigModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDatabaseConfigResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDatabaseConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetModel" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" minOccurs="0" name="config" nillable="true" type="q4:DatabaseConfigModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDatabaseConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestDatabaseConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetModel" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" minOccurs="0" name="config" nillable="true" type="q5:DatabaseConfigModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateDatabaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EraseAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EraseAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EraseAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EraseDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetModel" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" minOccurs="0" name="config" nillable="true" type="q6:DatabaseConfigModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EraseDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EraseDatabaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DumpDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetModel" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" minOccurs="0" name="config" nillable="true" type="q7:DatabaseConfigModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DumpDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance" minOccurs="0" name="DumpDatabaseResult" nillable="true" type="q8:DumpResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetModel" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" minOccurs="0" name="config" nillable="true" type="q9:DatabaseConfigModel" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" minOccurs="0" name="backupModel" nillable="true" type="q10:BackupModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestoreDatabaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSetup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetModel" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" minOccurs="0" name="config" nillable="true" type="q11:DatabaseConfigModel" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" minOccurs="0" name="setup" nillable="true" type="q12:SetupModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteSetupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteSetupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScript">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetModel" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" minOccurs="0" name="model" nillable="true" type="q13:DatabaseConfigModel" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" minOccurs="0" name="script" nillable="true" type="q14:ScriptModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteScriptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteScriptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>