src/Tests/Moryx.Tools.Wcf.Tests/Service References/DatabaseMaintenance/DatabaseMaintenance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DatabaseMaintenance" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Metadata/DatabaseMaintenance?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Metadata/DatabaseMaintenance?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Metadata/DatabaseMaintenance?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance.Wcf" />
      <xsd:import schemaLocation="http://localhost/Metadata/DatabaseMaintenance?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.DatabaseMaintenance" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDatabaseMaintenance_GetDataModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataModels" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_GetDataModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataModelsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_SetAllConfigs_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAllConfigs" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_SetAllConfigs_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAllConfigsResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_SetDatabaseConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDatabaseConfig" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_SetDatabaseConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDatabaseConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_TestDatabaseConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:TestDatabaseConfig" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_TestDatabaseConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestDatabaseConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_CreateAll_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAll" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_CreateAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAllResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_CreateDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDatabase" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_CreateDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_EraseAll_InputMessage">
    <wsdl:part name="parameters" element="tns:EraseAll" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_EraseAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:EraseAllResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_EraseDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:EraseDatabase" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_EraseDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:EraseDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_DumpDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:DumpDatabase" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_DumpDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:DumpDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_RestoreDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:RestoreDatabase" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_RestoreDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestoreDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_ExecuteSetup_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSetup" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_ExecuteSetup_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSetupResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_ExecuteScript_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScript" />
  </wsdl:message>
  <wsdl:message name="IDatabaseMaintenance_ExecuteScript_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteScriptResponse" />
  </wsdl:message>
  <wsdl:portType name="IDatabaseMaintenance">
    <wsdl:operation name="GetDataModels">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseMaintenance/GetDataModels" message="tns:IDatabaseMaintenance_GetDataModels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseMaintenance/GetDataModelsResponse" message="tns:IDatabaseMaintenance_GetDataModels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAllConfigs">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseMaintenance/SetAllConfigs" message="tns:IDatabaseMaintenance_SetAllConfigs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseMaintenance/SetAllConfigsResponse" message="tns:IDatabaseMaintenance_SetAllConfigs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDatabaseConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseMaintenance/SetDatabaseConfig" message="tns:IDatabaseMaintenance_SetDatabaseConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseMaintenance/SetDatabaseConfigResponse" message="tns:IDatabaseMaintenance_SetDatabaseConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestDatabaseConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseMaintenance/TestDatabaseConfig" message="tns:IDatabaseMaintenance_TestDatabaseConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseMaintenance/TestDatabaseConfigResponse" message="tns:IDatabaseMaintenance_TestDatabaseConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseMaintenance/CreateAll" message="tns:IDatabaseMaintenance_CreateAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseMaintenance/CreateAllResponse" message="tns:IDatabaseMaintenance_CreateAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseMaintenance/CreateDatabase" message="tns:IDatabaseMaintenance_CreateDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseMaintenance/CreateDatabaseResponse" message="tns:IDatabaseMaintenance_CreateDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EraseAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseMaintenance/EraseAll" message="tns:IDatabaseMaintenance_EraseAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseMaintenance/EraseAllResponse" message="tns:IDatabaseMaintenance_EraseAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EraseDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseMaintenance/EraseDatabase" message="tns:IDatabaseMaintenance_EraseDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseMaintenance/EraseDatabaseResponse" message="tns:IDatabaseMaintenance_EraseDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DumpDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseMaintenance/DumpDatabase" message="tns:IDatabaseMaintenance_DumpDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseMaintenance/DumpDatabaseResponse" message="tns:IDatabaseMaintenance_DumpDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestoreDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseMaintenance/RestoreDatabase" message="tns:IDatabaseMaintenance_RestoreDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseMaintenance/RestoreDatabaseResponse" message="tns:IDatabaseMaintenance_RestoreDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSetup">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseMaintenance/ExecuteSetup" message="tns:IDatabaseMaintenance_ExecuteSetup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseMaintenance/ExecuteSetupResponse" message="tns:IDatabaseMaintenance_ExecuteSetup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteScript">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseMaintenance/ExecuteScript" message="tns:IDatabaseMaintenance_ExecuteScript_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseMaintenance/ExecuteScriptResponse" message="tns:IDatabaseMaintenance_ExecuteScript_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDatabaseMaintenance" type="tns:IDatabaseMaintenance">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataModels">
      <soap:operation soapAction="http://tempuri.org/IDatabaseMaintenance/GetDataModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAllConfigs">
      <soap:operation soapAction="http://tempuri.org/IDatabaseMaintenance/SetAllConfigs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDatabaseConfig">
      <soap:operation soapAction="http://tempuri.org/IDatabaseMaintenance/SetDatabaseConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDatabaseConfig">
      <soap:operation soapAction="http://tempuri.org/IDatabaseMaintenance/TestDatabaseConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAll">
      <soap:operation soapAction="http://tempuri.org/IDatabaseMaintenance/CreateAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDatabase">
      <soap:operation soapAction="http://tempuri.org/IDatabaseMaintenance/CreateDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EraseAll">
      <soap:operation soapAction="http://tempuri.org/IDatabaseMaintenance/EraseAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EraseDatabase">
      <soap:operation soapAction="http://tempuri.org/IDatabaseMaintenance/EraseDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DumpDatabase">
      <soap:operation soapAction="http://tempuri.org/IDatabaseMaintenance/DumpDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreDatabase">
      <soap:operation soapAction="http://tempuri.org/IDatabaseMaintenance/RestoreDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSetup">
      <soap:operation soapAction="http://tempuri.org/IDatabaseMaintenance/ExecuteSetup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteScript">
      <soap:operation soapAction="http://tempuri.org/IDatabaseMaintenance/ExecuteScript" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseMaintenance">
    <wsdl:port name="BasicHttpBinding_IDatabaseMaintenance" binding="tns:BasicHttpBinding_IDatabaseMaintenance">
      <soap:address location="http://localhost/DatabaseMaintenance" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>