src/Marvin.TestTools.SystemTest/Service References/Logging/LogMaintenance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LogMaintenance" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Metadata/LogMaintenance?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Metadata/LogMaintenance?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Metadata/LogMaintenance?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Maintenance.Plugins.Logging" />
      <xsd:import schemaLocation="http://localhost/Metadata/LogMaintenance?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Marvin.Logging" />
      <xsd:import schemaLocation="http://localhost/Metadata/LogMaintenance?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Maintenance.Plugins" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogMaintenance_GetAllLoggers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLoggers" />
  </wsdl:message>
  <wsdl:message name="ILogMaintenance_GetAllLoggers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLoggersResponse" />
  </wsdl:message>
  <wsdl:message name="ILogMaintenance_SetLogLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLogLevel" />
  </wsdl:message>
  <wsdl:message name="ILogMaintenance_SetLogLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLogLevelResponse" />
  </wsdl:message>
  <wsdl:message name="ILogMaintenance_AddAppender_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAppender" />
  </wsdl:message>
  <wsdl:message name="ILogMaintenance_AddAppender_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAppenderResponse" />
  </wsdl:message>
  <wsdl:message name="ILogMaintenance_RemoveAppender_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAppender" />
  </wsdl:message>
  <wsdl:message name="ILogMaintenance_RemoveAppender_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAppenderResponse" />
  </wsdl:message>
  <wsdl:message name="ILogMaintenance_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="ILogMaintenance_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogMaintenance">
    <wsdl:operation name="GetAllLoggers">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogMaintenance/GetAllLoggers" message="tns:ILogMaintenance_GetAllLoggers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogMaintenance/GetAllLoggersResponse" message="tns:ILogMaintenance_GetAllLoggers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLogLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogMaintenance/SetLogLevel" message="tns:ILogMaintenance_SetLogLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogMaintenance/SetLogLevelResponse" message="tns:ILogMaintenance_SetLogLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAppender">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogMaintenance/AddAppender" message="tns:ILogMaintenance_AddAppender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogMaintenance/AddAppenderResponse" message="tns:ILogMaintenance_AddAppender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAppender">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogMaintenance/RemoveAppender" message="tns:ILogMaintenance_RemoveAppender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogMaintenance/RemoveAppenderResponse" message="tns:ILogMaintenance_RemoveAppender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogMaintenance/GetMessages" message="tns:ILogMaintenance_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogMaintenance/GetMessagesResponse" message="tns:ILogMaintenance_GetMessages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="LogMaintenance" />
</wsdl:definitions>