src/Marvin.TestTools.SystemTest/Service References/Logging/LogMaintenance2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Maintenance.Plugins.Logging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Marvin.Runtime.Maintenance.Plugins.Logging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Metadata/LogMaintenance?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Marvin.Logging" />
  <xs:complexType name="ArrayOfLoggerModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoggerModel" nillable="true" type="tns:LoggerModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoggerModel" nillable="true" type="tns:ArrayOfLoggerModel" />
  <xs:complexType name="LoggerModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Marvin.Logging" minOccurs="0" name="ActiveLevel" type="q1:LogLevel" />
      <xs:element minOccurs="0" name="ChildLogger" nillable="true" type="tns:ArrayOfLoggerModel" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:LoggerModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoggerModel" nillable="true" type="tns:LoggerModel" />
  <xs:complexType name="SetLogLevelRequest">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Marvin.Logging" minOccurs="0" name="Level" type="q2:LogLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetLogLevelRequest" nillable="true" type="tns:SetLogLevelRequest" />
  <xs:complexType name="AddAppenderRequest">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Marvin.Logging" minOccurs="0" name="MinLevel" type="q3:LogLevel" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddAppenderRequest" nillable="true" type="tns:AddAppenderRequest" />
  <xs:complexType name="AddAppenderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppenderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddAppenderResponse" nillable="true" type="tns:AddAppenderResponse" />
  <xs:complexType name="ArrayOfLogMessageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogMessageModel" nillable="true" type="tns:LogMessageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogMessageModel" nillable="true" type="tns:ArrayOfLogMessageModel" />
  <xs:complexType name="LogMessageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Marvin.Logging" minOccurs="0" name="LogLevel" type="q4:LogLevel" />
      <xs:element minOccurs="0" name="Logger" nillable="true" type="tns:LoggerModel" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogMessageModel" nillable="true" type="tns:LogMessageModel" />
</xs:schema>