src/Tests/Moryx.Tools.Wcf.Tests/Service References/Maintenance/ModuleMaintenance2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Moryx.Serialization" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Moryx.Serialization" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Metadata/ModuleMaintenance?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="tns:Entry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntry" nillable="true" type="tns:ArrayOfEntry" />
  <xs:complexType name="Entry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="tns:EntryKey" />
      <xs:element minOccurs="0" name="Prototypes" nillable="true" type="tns:ArrayOfEntry" />
      <xs:element minOccurs="0" name="SubEntries" nillable="true" type="tns:ArrayOfEntry" />
      <xs:element minOccurs="0" name="Validation" nillable="true" type="tns:EntryValidation" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="tns:EntryValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entry" nillable="true" type="tns:Entry" />
  <xs:complexType name="EntryKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntryKey" nillable="true" type="tns:EntryKey" />
  <xs:complexType name="EntryValidation">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsPassword" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxLenght" type="xs:int" />
      <xs:element minOccurs="0" name="MinLenght" type="xs:int" />
      <xs:element minOccurs="0" name="Regex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntryValidation" nillable="true" type="tns:EntryValidation" />
  <xs:complexType name="EntryValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Current" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Default" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Possible" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Type" type="tns:EntryValueType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntryValue" nillable="true" type="tns:EntryValue" />
  <xs:simpleType name="EntryValueType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Byte" />
      <xs:enumeration value="Boolean" />
      <xs:enumeration value="Int16" />
      <xs:enumeration value="UInt16" />
      <xs:enumeration value="Int32" />
      <xs:enumeration value="UInt32" />
      <xs:enumeration value="Int64" />
      <xs:enumeration value="UInt64" />
      <xs:enumeration value="Single" />
      <xs:enumeration value="Double" />
      <xs:enumeration value="String" />
      <xs:enumeration value="Enum" />
      <xs:enumeration value="Class" />
      <xs:enumeration value="Collection" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntryValueType" nillable="true" type="tns:EntryValueType" />
</xs:schema>