src/Tests/Moryx.Tools.Wcf.Tests/Service References/Maintenance/ModuleMaintenance5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Metadata/ModuleMaintenance?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.ModuleMaintenance.Wcf" />
  <xs:import schemaLocation="http://localhost/Metadata/ModuleMaintenance?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Modules" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.ModuleMaintenance.Wcf" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfServerModuleModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDependencyEvaluation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDependencyEvaluationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.ModuleMaintenance.Wcf" minOccurs="0" name="GetDependencyEvaluationResult" nillable="true" type="q2:DependencyEvaluation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Stop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Reincarnate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReincarnateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmWarning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmWarningResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.ModuleMaintenance.Wcf" minOccurs="0" name="GetConfigResult" nillable="true" type="q3:Config" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.ModuleMaintenance.Wcf" minOccurs="0" name="model" nillable="true" type="q4:Config" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Maintenance.Plugins.ModuleMaintenance.Wcf" minOccurs="0" name="updateMode" type="q5:ConfigUpdateMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfigResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStartBehaviour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Modules" minOccurs="0" name="startBehaviour" type="q6:ModuleStartBehaviour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStartBehaviourResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFailureBehaviour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Moryx.Runtime.Modules" minOccurs="0" name="failureBehaviour" type="q7:FailureBehaviour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFailureBehaviourResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>