src/Tests/Moryx.Tools.Wcf.SystemTests/Service References/HelloWorld/HelloWorldWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWorldWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IHelloWorldWcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Metadata/HelloWorldWcfService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Metadata/HelloWorldWcfService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHelloWorldWcfService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_Heartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:Heartbeat" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_Heartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_Hello_InputMessage">
    <wsdl:part name="parameters" element="tns:Hello" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_Hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_Throw_InputMessage">
    <wsdl:part name="parameters" element="tns:Throw" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_Throw_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThrowResponse" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_TriggerHelloCallback_InputMessage">
    <wsdl:part name="parameters" element="tns:TriggerHelloCallback" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_TriggerThrowCallback_InputMessage">
    <wsdl:part name="parameters" element="tns:TriggerThrowCallback" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_DeferredDisconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:DeferredDisconnect" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_HelloCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:HelloCallback" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_ThrowCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ThrowCallback" />
  </wsdl:message>
  <wsdl:message name="IHelloWorldWcfService_ThrowCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ThrowCallbackResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IHelloWorldWcfService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/Subscribe" message="tns:IHelloWorldWcfService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/SubscribeResponse" message="tns:IHelloWorldWcfService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Heartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/Heartbeat" message="tns:IHelloWorldWcfService_Heartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/HeartbeatResponse" message="tns:IHelloWorldWcfService_Heartbeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/Unsubscribe" message="tns:IHelloWorldWcfService_Unsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Hello">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloWorldWcfService/Hello" message="tns:IHelloWorldWcfService_Hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloWorldWcfService/HelloResponse" message="tns:IHelloWorldWcfService_Hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Throw">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloWorldWcfService/Throw" message="tns:IHelloWorldWcfService_Throw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloWorldWcfService/ThrowResponse" message="tns:IHelloWorldWcfService_Throw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TriggerHelloCallback">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloWorldWcfService/TriggerHelloCallback" message="tns:IHelloWorldWcfService_TriggerHelloCallback_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TriggerThrowCallback">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloWorldWcfService/TriggerThrowCallback" message="tns:IHelloWorldWcfService_TriggerThrowCallback_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeferredDisconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloWorldWcfService/DeferredDisconnect" message="tns:IHelloWorldWcfService_DeferredDisconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="HelloCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloWorldWcfService/HelloCallback" message="tns:IHelloWorldWcfService_HelloCallback_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ThrowCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IHelloWorldWcfService/ThrowCallback" message="tns:IHelloWorldWcfService_ThrowCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IHelloWorldWcfService/ThrowCallbackResponse" message="tns:IHelloWorldWcfService_ThrowCallback_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IHelloWorldWcfService" type="tns:IHelloWorldWcfService">
    <wsp:PolicyReference URI="#NetTcpBinding_IHelloWorldWcfService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/ISessionService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
      <soap12:operation soapAction="http://tempuri.org/ISessionService/Heartbeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/ISessionService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Hello">
      <soap12:operation soapAction="http://tempuri.org/IHelloWorldWcfService/Hello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Throw">
      <soap12:operation soapAction="http://tempuri.org/IHelloWorldWcfService/Throw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TriggerHelloCallback">
      <soap12:operation soapAction="http://tempuri.org/IHelloWorldWcfService/TriggerHelloCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="TriggerThrowCallback">
      <soap12:operation soapAction="http://tempuri.org/IHelloWorldWcfService/TriggerThrowCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeferredDisconnect">
      <soap12:operation soapAction="http://tempuri.org/IHelloWorldWcfService/DeferredDisconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="HelloCallback">
      <soap12:operation soapAction="http://tempuri.org/IHelloWorldWcfService/HelloCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThrowCallback">
      <soap12:operation soapAction="http://tempuri.org/IHelloWorldWcfService/ThrowCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorldWcfService">
    <wsdl:port name="NetTcpBinding_IHelloWorldWcfService" binding="tns:NetTcpBinding_IHelloWorldWcfService">
      <soap12:address location="net.tcp://localhost:816/HelloWorldWcfService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:816/HelloWorldWcfService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>