Products/Marvin.Products.UI.Interaction/Service References/InteractionSvc/ProductInteraction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductInteraction" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Marvin.Serialization" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Marvin.Products.Management" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Marvin.AbstractionLayer" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Marvin.Products" />
      <xsd:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Marvin.Workflows" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductInteraction_GetCustomization_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomization" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetCustomization_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomizationResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_UpdateParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParameters" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_UpdateParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetProductStructure_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductStructure" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetProductStructure_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductStructureResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetProductDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetails" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetProductDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetProductRevisions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductRevisions" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetProductRevisions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductRevisionsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_SaveProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProduct" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_SaveProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_ReleaseProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseProduct" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_ReleaseProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_CreateRevision_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRevision" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_CreateRevision_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRevisionResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_ImportProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportProduct" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_ImportProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipe" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_CreateRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRecipe" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_CreateRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetProductionRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductionRecipe" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetProductionRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductionRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_CreateProductionRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductionRecipe" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_CreateProductionRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductionRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_CreateWorkplan_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateWorkplan" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_CreateWorkplan_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateWorkplanResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetWorkplans_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkplans" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetWorkplans_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkplansResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetWorkplan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkplan" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetWorkplan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkplanResponse" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetRecipeProviderName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeProviderName" />
  </wsdl:message>
  <wsdl:message name="IProductInteraction_GetRecipeProviderName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeProviderNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductInteraction">
    <wsdl:operation name="GetCustomization">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetCustomization" message="tns:IProductInteraction_GetCustomization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetCustomizationResponse" message="tns:IProductInteraction_GetCustomization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/UpdateParameters" message="tns:IProductInteraction_UpdateParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/UpdateParametersResponse" message="tns:IProductInteraction_UpdateParameters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductStructure">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetProductStructure" message="tns:IProductInteraction_GetProductStructure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetProductStructureResponse" message="tns:IProductInteraction_GetProductStructure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetAllProducts" message="tns:IProductInteraction_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetAllProductsResponse" message="tns:IProductInteraction_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetProductDetails" message="tns:IProductInteraction_GetProductDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetProductDetailsResponse" message="tns:IProductInteraction_GetProductDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductRevisions">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetProductRevisions" message="tns:IProductInteraction_GetProductRevisions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetProductRevisionsResponse" message="tns:IProductInteraction_GetProductRevisions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/SaveProduct" message="tns:IProductInteraction_SaveProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/SaveProductResponse" message="tns:IProductInteraction_SaveProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/ReleaseProduct" message="tns:IProductInteraction_ReleaseProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/ReleaseProductResponse" message="tns:IProductInteraction_ReleaseProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRevision">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/CreateRevision" message="tns:IProductInteraction_CreateRevision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/CreateRevisionResponse" message="tns:IProductInteraction_CreateRevision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/ImportProduct" message="tns:IProductInteraction_ImportProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/ImportProductResponse" message="tns:IProductInteraction_ImportProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetRecipe" message="tns:IProductInteraction_GetRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetRecipeResponse" message="tns:IProductInteraction_GetRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/CreateRecipe" message="tns:IProductInteraction_CreateRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/CreateRecipeResponse" message="tns:IProductInteraction_CreateRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductionRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetProductionRecipe" message="tns:IProductInteraction_GetProductionRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetProductionRecipeResponse" message="tns:IProductInteraction_GetProductionRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProductionRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/CreateProductionRecipe" message="tns:IProductInteraction_CreateProductionRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/CreateProductionRecipeResponse" message="tns:IProductInteraction_CreateProductionRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateWorkplan">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/CreateWorkplan" message="tns:IProductInteraction_CreateWorkplan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/CreateWorkplanResponse" message="tns:IProductInteraction_CreateWorkplan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkplans">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetWorkplans" message="tns:IProductInteraction_GetWorkplans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetWorkplansResponse" message="tns:IProductInteraction_GetWorkplans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkplan">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetWorkplan" message="tns:IProductInteraction_GetWorkplan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetWorkplanResponse" message="tns:IProductInteraction_GetWorkplan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipeProviderName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductInteraction/GetRecipeProviderName" message="tns:IProductInteraction_GetRecipeProviderName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductInteraction/GetRecipeProviderNameResponse" message="tns:IProductInteraction_GetRecipeProviderName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductInteraction" type="tns:IProductInteraction">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomization">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetCustomization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateParameters">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/UpdateParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStructure">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetProductStructure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDetails">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetProductDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductRevisions">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetProductRevisions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProduct">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/SaveProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseProduct">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/ReleaseProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRevision">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/CreateRevision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportProduct">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/ImportProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipe">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRecipe">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/CreateRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductionRecipe">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetProductionRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProductionRecipe">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/CreateProductionRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateWorkplan">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/CreateWorkplan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkplans">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetWorkplans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkplan">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetWorkplan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipeProviderName">
      <soap:operation soapAction="http://tempuri.org/IProductInteraction/GetRecipeProviderName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductInteraction">
    <wsdl:port name="BasicHttpBinding_IProductInteraction" binding="tns:BasicHttpBinding_IProductInteraction">
      <soap:address location="http://localhost/ProductInteraction" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>