Products/Marvin.Products.UI.Interaction/Service References/InteractionSvc/ProductInteraction2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Marvin.AbstractionLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Marvin.AbstractionLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ProductState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created" />
      <xs:enumeration value="Released" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProductState" nillable="true" type="tns:ProductState" />
  <xs:complexType name="ArrayOfProductFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductFile" nillable="true" type="tns:ProductFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductFile" nillable="true" type="tns:ArrayOfProductFile" />
  <xs:complexType name="ProductFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="File" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:FileType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductFile" nillable="true" type="tns:ProductFile" />
  <xs:simpleType name="FileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Image" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="Binary" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileType" nillable="true" type="tns:FileType" />
  <xs:simpleType name="RecipeState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Released" />
      <xs:enumeration value="Revoked" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RecipeState" nillable="true" type="tns:RecipeState" />
</xs:schema>