Products/Marvin.Products.UI.Interaction/Service References/InteractionSvc/ProductInteraction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" />
  <xs:import schemaLocation="http://localhost/Metadata/ProductInteraction?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Marvin.Products.Management" />
  <xs:element name="GetCustomization">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetCustomizationResult" nillable="true" type="q1:ProductCustomization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importer" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="currentParameters" nillable="true" type="q2:ArrayOfImportParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="UpdateParametersResult" nillable="true" type="q3:ArrayOfImportParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductStructure">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Marvin.Products.Management" minOccurs="0" name="GetProductStructureResult" nillable="true" type="q4:ArrayOfProductStructureEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q5:ArrayOfProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetProductDetailsResult" nillable="true" type="q6:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductRevisions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductRevisionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetProductRevisionsResult" nillable="true" type="q7:ArrayOfProductRevisionEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="instance" nillable="true" type="q8:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="SaveProductResult" nillable="true" type="q9:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="ReleaseProductResult" nillable="true" type="q10:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRevision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="revisionNo" type="xs:short" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRevisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="CreateRevisionResult" nillable="true" type="q11:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importerName" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="parametersModel" nillable="true" type="q12:ArrayOfImportParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="ImportProductResult" nillable="true" type="q13:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetRecipeResult" nillable="true" type="q14:RecipeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipeType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="CreateRecipeResult" nillable="true" type="q15:RecipeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:long" />
        <xs:element minOccurs="0" name="workplanId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetProductionRecipeResult" nillable="true" type="q16:RecipeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductionRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:long" />
        <xs:element minOccurs="0" name="workplanId" type="xs:long" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductionRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="CreateProductionRecipeResult" nillable="true" type="q17:RecipeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkplan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWorkplanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="CreateWorkplanResult" nillable="true" type="q18:WorkplanModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkplans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkplansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetWorkplansResult" nillable="true" type="q19:ArrayOfWorkplanModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkplan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkplanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Marvin.Products.Management.Modification" minOccurs="0" name="GetWorkplanResult" nillable="true" type="q20:WorkplanModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeProviderName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeProviderNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecipeProviderNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>